<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-dgram"
    version="0.1.5">
    <name>UDP Plugin</name>
    <description>Cordova-Plugin which supports node.js dgram API</description>
    <keywords>UDP, Multicast, Datagram, dgram</keywords>
    <license>MIT</license>
    <repo>https://github.com/andischerer/cordova-plugin-dgram.git</repo>
    <issue>https://github.com/andischerer/cordova-plugin-dgram/issues</issue>

    <js-module src="www/dgram.js" name="dgram">
        <clobbers target="dgram" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Dgram" >
                <param name="android-package" value="org.apache.cordova.dgram.Dgram"/>
            </feature>
        </config-file>
       <source-file src="src/android/Dgram.java" target-dir="src/org/apache/cordova/dgram/" />
    </platform>

</plugin>
